.budget-page {
  display: flex;
}

.budget-form-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 30px;
  height: 100vh;
  border-right: 1px solid black;
  position: relative;
  /* display: none; */
}

#budget-form-title {
  font-size: 30px;
  padding: 20px 49px;
}

#budget-amount {
  width: 240px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 0px;
  /* border-radius: 5px; */
}

#budget-description {
  width: 240px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 0px;
  /* border-radius: 5px; */
}

#budget-date {
  width: 240px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 0px;
  /* border-radius: 5px; */
}

#budget-select {
  width: 257px;
  margin: 5px 0px;
}

#budget-dropdown-first {
  color: red;
  opacity: 0.5;
}

.budget-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#budget-submit {
  margin-top: 8px;
  width: 258px;
  padding: 3px;
  border-radius: 5px;
}

#budget-list-title {
  font-size: 30px;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

#budget-list {
  margin-top: 20px;
  width: 100%;
}

.budget-list-item-box {
  width: 100%;
  height: 51px;
  display: flex;
}

.budget-list-item-box p {
  display: flex;
  justify-content: center;
  width: 150px;
  max-height: 40px;
  overflow: scroll;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

.budget-list-item-box label {
  display: flex;
  justify-content: center;
  width: 150px;
  max-height: 40px;
  overflow: scroll;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

#budget-list-date {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 16px;
}

.budget-list-top {
  width: 100%;
  height: 50px;
  display: flex;
}

.budget-list-top p {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

#budget-item-change {
  cursor: pointer;
}

#budget-item-change:hover {
  background-color: darkgray;
}

#budget-item-delete-button {
  border: none;
}

#budget-item-delete-button:hover {
  background-color: darkgray;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}