.budget-page {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.new-budget {
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
}

.budget-form-box {
  overflow-y: auto;
  margin: 80px 0px 80px 40px;
  border-radius: 10px;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(238, 236, 236);
  padding: 50px 30px;
  box-shadow: 5px 8px 12px black;
  border-right: 1px solid black;
  position: relative;
  /* display: none; */
}

.budget-form {
  width: 95%;
}

#budget-form-title {
  text-align: center;
  width: 95%;
  margin-top: 15px;
  font-size: 30px;
  padding: 20px 0px 10px;
}

#budget-amount {
  width: 93%;
  border: none;
  background-color: rgb(238, 236, 236);
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 15px 10px;
  transition: border-bottom .3s;
}

#budget-amount:focus {
  border-bottom: 1px solid rgb(112, 58, 240);
}

#budget-description {
  width: 93%;
  border: none;
  background-color: rgb(238, 236, 236);
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 10px;
  transition: border-bottom .3s;
}

#budget-description:focus {
  border-bottom: 1px solid rgb(112, 58, 240);
}

#budget-date {
  width: 92%;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 10px 10px;
  transition: border-bottom .3s;
}

#budget-date:focus {
  border-bottom: 1px solid rgb(112, 58, 240);
}

#budget-date:hover {
  border-bottom: 1px solid rgb(112, 58, 240);
}

#budget-select {
  width: 97%;
  height: 30px;
  margin: 10px 10px;
  background-color: rgb(206, 203, 203);
  cursor: pointer;
  transition: border .3s;
}

#budget-select:hover {
  border: 1px solid rgb(112, 58, 240);
}

#budget-dropdown-first {
  color: red;
  opacity: 0.5;
}

.budget-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
}

.budget-list-container {
  width: 85%;
  max-height: 363px;
  overflow: scroll;
  background: rgba(23, 23, 23, 0.7);
  color: white;
  padding: 10px 50px 50px;
  margin: 50px;
  box-shadow: 8px 8px 12px black;
  border-radius: 8px;
}

#budget-submit {
  margin: 9px;
  width: 97%;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid;
  transition: background-color .5s;
}

#budget-submit:hover {
  background-color: rgb(206, 203, 203);
}

#budget-list-title {
  font-size: 30px;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

#budget-list {
  margin-top: 20px;
  width: 100%;
}

.budget-list-item-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.budget-list-item-box p {
  display: flex;
  justify-content: center;
  width: 150px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 50px;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

.budget-list-item-box label {
  display: flex;
  justify-content: center;
  width: 150px;
  max-height: 50px;
  overflow: scroll;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

#budget-list-date {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 16px;
}

#budget-list-description {
  text-align: center;
  /* max-height: 45px; */
  width: 150px;
  align-items: center;
  overflow: hidden;
}

.budget-list-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.budget-list-top p {
  text-align: center;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  padding: 16px 8px 8px;
  border: 1px solid black;
}

#budget-item-change {
  cursor: pointer;
  overflow: initial;
  padding: 8px;
}

#budget-item-change:hover {
  background-color: darkgray;
}

#budget-item-delete-button {
  background-color: rgb(238, 236, 236);
  border: none;
}

#budget-item-delete-button:hover {
  background-color: darkgray;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#update-modal {
  margin: -250px 0px 0px -245px;
  text-align: center;
  width: 440px;
  height: 505px;
}

#edit-title {
  font-size: 30px;
  margin-top: 10px;
}

#edit-input {
  margin: 5px;
  padding: 5px;
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  transition: border-bottom .3s;
}

#edit-input:focus {
  border-bottom: 1px solid rgb(112, 58, 240);
}

#edit-calendar {
  margin: 5px;
  padding: 5px;
  width: 80%;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid black;
  transition: border-color .3s;
}

#edit-calendar:hover {
  border-color: rgb(112, 58, 240);
}

#edit-calendar:focus {
  border-color: rgb(112, 58, 240);
}

#edit-select {
  width: 83%;
  height: 30px;
  margin: 10px 10px;
  background-color: rgb(206, 203, 203);
  cursor: pointer;
  transition: border .3s;
}

#edit-select:focus {
  border: 1px solid rgb(112, 58, 240);
}

#edit-submit {
  margin: 15px 9px 9px;
  width: 83%;
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  transition: background-color .5s;
}

#edit-submit:hover {
  background-color: rgb(206, 203, 203);
  border-color: rgb(177, 174, 174);
}

#update-label {
  width: 100%;
  margin: 15px 0px 5px;
  font-size: 17px;
  text-align: left;
  margin-left: 40px;
  opacity: 0.5;
}