.recharts-wrapper.bar-chart {
  background: rgba(23, 23, 23, 0.7);
  color: white;
  width: 600px;
  height: 300px;
  left: 10px;
  margin: 5px 30px 20px 5px;
  padding: 30px 30px 20px 5px;
  border-radius: 8px;
  box-shadow: 8px 8px 12px black;
}

.recharts-legend-wrapper {
  position: absolute;
  width: 590px;
  height: auto;
  left: 45px;
  bottom: 18px;
}

.recharts-legend-item-text {
  color: black;
}

.chart {
  width: 100%;
  display: flex;
  justify-content: center;
}

#responsive-chart {
  position: relative;
  margin-left: -32px;
  left: 0%;
  top: 0px;
}