.main-page-box {
  display: flex;
  flex-wrap: wrap;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: black;
}

#image1 {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  bottom: 100px;
  width: 500px;
  height: 255px;
  background-color: black;
  color: white;
  background-size: cover;
  background-image: url("../../photos/budget_list.png");
}

#image2 {
  position: absolute;
  left: 50%;
  margin-left: -600px;
  bottom: 100px;
  width: 500px;
  height: 255px;
  background-color: black;
  color: white;
  background-size: cover;
  background-image: url("../../photos/budget_list.png");
}

#footer {
  display: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: black;
  width: 100%;
}

.about-links {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin-top: 10px;
  justify-content: space-around;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.about-links:hover {
  opacity: 1;
}

.about-name {
  color: white;
  width: 100%;
  font-weight: bold;
  margin-bottom: 3px;
  cursor: default;
}

.github-link {
  margin-right: 30px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.github-link:hover {
  opacity: 1;
}

.github-link:hover .about-name {
  opacity: 1;
}

.linkedin-link {
  margin-left: 30px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.linkedin-link:hover {
  opacity: 1;
}
