.main-page-box {
  display: flex;
  flex-wrap: wrap;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: black;
}

#image1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  background-size: cover;
  background-image: url("../../photos/calculators.png");
  opacity: 0.7;
  transition: all 0.3s;
}

#image1-container {
  position: absolute;
  right: 50%;
  margin-right: 5%;
  bottom: 16%;
  width: 500px;
  height: 255px;
}

#image2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  background-size: cover;
  background-image: url("../../photos/forum_draft.png");
  opacity: 0.7;
  transition: all 0.3s;
}

#image2-container {
  position: absolute;
  left: 50%;
  margin-left: 5%;
  bottom: 16%;
  width: 500px;
  height: 255px;
}

#image3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  background-size: cover;
  background-image: url("../../photos/budget_list.png");
  opacity: 0.7;
  transition: all 0.3s;
}

#image3-container {
  position: absolute;
  left: 50%;
  margin-left: -255px;
  bottom: 57%;
  width: 500px;
  height: 255px;
}

#image1:hover, #image2:hover, #image3:hover {
  opacity: 1;
  transform: scale(1.03);
}

#splash-image-titles {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100px;
  background: rgba(0, 0, 0, 0.7);
  height: 55px;
  font-size: 25px;
  padding-top: 14px;
  cursor: default;
  opacity: 0;
  transition: all 0.3s;
}

#image1:hover #splash-image-titles {
  opacity: 1;
}

#image2:hover #splash-image-titles {
  opacity: 1;
}

#image3:hover #splash-image-titles {
  opacity: 1;
}

#footer {
  display: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: black;
  width: 100%;
}

.about-links {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin-top: 10px;
  justify-content: space-around;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.about-links:hover {
  opacity: 1;
}

.about-name {
  color: white;
  width: 100%;
  font-weight: bold;
  margin-bottom: 3px;
  cursor: default;
}

.github-link {
  margin-right: 30px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.github-link:hover {
  opacity: 1;
}

.github-link:hover .about-name {
  opacity: 1;
}

.linkedin-link {
  margin-left: 30px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.linkedin-link:hover {
  opacity: 1;
}
