.main-page-box {
  display: flex;
  flex-wrap: wrap;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: beige;
}

#image {
  width: 100%;
  height: 100%;
  background-image: url("../../photos/bg_2.png");
  background-size: cover;
}

#footer {
  display: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(194, 191, 191);
  width: 100%;
}

.about-links {
  display: flex;
  flex-wrap: wrap;
  width: 165px;
  justify-content: space-around;
}

.about-name {
  width: 100%;
  font-weight: bold;
  margin-bottom: 3px;
}

.github-link {
  margin-right: 30px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.github-link:hover {
  opacity: 1;
}

.linkedin-link {
  margin-left: 30px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.linkedin-link:hover {
  opacity: 1;
}
