.main-page-box {
  display: flex;
  flex-wrap: wrap;
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: beige;
}

#image {
  width: 100%;
  height: 100%;
  background-image: url("../../photos/bg_2.png");
  background-size: cover;
}

#footer {
  display: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(194, 191, 191);
  width: 100%;
}
