.fi-box {
  display: flex;
  height: 100vh;
}

.fi-calculator-box {
  min-width: 30%;
  min-height: 100%;
  background: #f1f1f1;
}

.fi-chart-box {
  min-width: 70%;
  min-height: 100%;
  background: #1e232d;
}

.fi-chart-box p {
  color: #39ff14;
  text-align: center;
  padding-top: 300px;
  font-size: 20px;
}