html {
  background-image: url("../photos/REAL-background-MERN.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../photos/REAL-background-MERN.jpg");
  background-size: cover;
}