.login-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.errors {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: rgb(231, 15, 15);
}

#error-item {
  padding: 3px;
}

#login-title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

#login-form {
  height: 350px;
  width: 400px;
  background: darkgrey;
  border: 1px solid black;
  box-shadow: -8px 8px 12px black;
}

#login-input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 0px;
}

#login-label {
  font-size: 18px;
  padding-bottom: 10px;
  margin-right: 190px;
}

#input {
  width: 280px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  transition: border-color .3s
}

#input:focus {
  border-color: rgb(112, 58, 240);
}

#submit-button {
  margin-top: 8px;
  width: 298px;
  height: 30px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(214, 211, 211);
  transition: background-color .3s;
}

#submit-button:hover {
  background-color: rgb(236, 231, 231);
}

#session-go-back {
  text-decoration: none;
  margin: 20px;
}