.login-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.errors {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  color: rgb(231, 15, 15);
}

#error-item {
  padding: 3px;
}

#login-title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

#login-form {
  color: white;
  height: 350px;
  width: 400px;
  background: rgba(23, 23, 23, 0.6);
  border: none;
  border-radius: 8px;
  box-shadow: 8px 8px 12px black;
}

#login-input-fields {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-label {
  font-size: 18px;
  margin: 5px 197px 3px 0px;
}

#input {
  width: 298px;
  color: black;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  transition: border-color .3s
}

#input:focus {
  border-color: rgb(112, 58, 240);
}

#submit-button {
  margin-top: 0px;
  width: 298px;
  height: 30px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(214, 211, 211);
  transition: background-color .3s;
}

#submit-button:hover {
  background-color: rgb(236, 231, 231);
}

#demo-button {
  text-align: center;
  margin-top: 8px;
  width: 298px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(214, 211, 211);
  transition: background-color .3s;
}

#demo-button:hover {
  background-color: #E0B0ff;
}

#session-go-back {
  position: absolute;
  top: -65px;
  right: 15px;
  font-weight: 600;
  width: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: color .2s;
}

#session-go-back:hover {
  color: red;
}