.signup-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: grey;
}

.signup-form {
  height: 400px;
  width: 400px;
  background: darkgrey;
  border: 1px solid black;
  box-shadow: -8px 8px 12px black;
}

#input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#label {
  padding-bottom: 10px;
  margin-right: 155px;
}

#label-email {
  padding-bottom: 10px;
  margin-right: 190px;
}

#label-confirm {
  padding-bottom: 10px;
  margin-right: 80px;
}

#input {
  width: 240px;
  border: none;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

#submit-button {
  margin-top: 8px;
  width: 255px;
  padding: 3px;
  border-radius: 5px;
}