.signup-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signup-form {
  height: 490px;
  width: 400px;
  background: darkgrey;
  border: 1px solid black;
  box-shadow: -8px 8px 12px black;
}

#signup-title {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

#input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#label {
  font-size: 18px;
  padding-bottom: 10px;
  margin-right: 190px;
}

#label-email {
  font-size: 18px;
  padding-bottom: 10px;
  margin-right: 230px;
}

#label-confirm {
  font-size: 18px;
  padding-bottom: 10px;
  margin-right: 108px;
}

#input {
  width: 298px;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

#input:focus {
  border-color: #ff7c7c;
}

#submit-button {
  margin-top: 0px;
  width: 298px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  background-color: #ff7c7c;
  transition: all .3s;
}

#submit-button:hover {
  transform: scale(1.03);
}

#signup-session-go-back {
  color: black;
  text-decoration: none;
  margin: 15px;
  transition: color .2s;
}

#signup-session-go-back:hover {
  color: red;
}
