.navbar-box {
  background-color: #ff7c7c;
  display: flex;
  height: 80px;
  box-shadow: 0px 8px 12px black;
}

.title-box {
  display: flex;
  text-align: center;
  padding-bottom: 10px;
  width: 60%;
}

.user-profile-header {
  color: black;
  font-family: monospace;
  font-size: 50px;
  font-weight: 900;
  padding-left: 20px;
  text-decoration: none;
  margin-top: 13px;
}

.user-profile-header:hover {
  text-decoration: none;
  color: black;
}

.title-name {
  font-family: monospace;
  font-size: 16px;
  padding: 30px 25px 0px
}

.session-buttons {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

#signup-button, #login-button, #about-button {
  width: 62px;
  padding: 5px 0px 5px 0px;
  margin-right: 40px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#logout-button {
  margin-right: 45px;
  padding: 5px 0px 5px 10px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

#budget-link {
  padding: 5px 10px 5px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#calculator-link {
  padding: 5px 10px 5px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#forum-link {
  padding: 5px 10px 5px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

.question-mark {
  color: black;
  width: 23px;
  height: 50px;
  padding: 5px 0px 5px 0px;
  margin: 0px 40px;
  font-size: 28px;
  text-decoration: none;
}

.tutorial {
  font-size: 20px;
  font-family: monospace;
  color: rgb(70, 67, 67);
  margin-bottom: 10px;
}

.title {
  font-size: 27px;
  text-align: center;
  margin-bottom: 10px;
  font-family: monospace;
  color: rgb(70, 67, 67);
}

