.navbar-box {
  background-color: #E0B0ff;
  text-align: center;
}

.user-profile-header {
  color: black;
  font-family: monospace;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 15px;
}

.title-name {
  
}
