.navbar-box {
  background-color: #E0B0ff;
  display: flex;
  box-shadow: 0px 8px 12px black;
}

.title-box {
  display: flex;
  text-align: center;
  padding-bottom: 10px;
  width: 50%;
}

.user-profile-header {
  color: black;
  font-family: monospace;
  font-size: 50px;
  font-weight: 900;
  padding-left: 20px;
  text-decoration: none;
}

.title-name {
  font-family: monospace;
  font-size: 16px;
  padding: 20px 25px 0px
}

.session-buttons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

#signup-button {
  width: 60px;
  padding: 5px 40px 5px 0px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#login-button {
  width: 50px;
  padding: 5px 40px 5px 0px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#logout-button {
  width: 50px;
  padding: 5px 50px 5px 10px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

#budget-link {
  width: 60px;
  padding: 5px 10px 5px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}

#calculator-link {
  width: 143px;
  padding: 5px 10px 5px;
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-decoration: none;
}