.posts-list {
  background-color: whitesmoke;
  margin: 30px;
  width: 65%;
  padding: 10px;
}

.nav-bar-index {
  display: flex;
  width: 65%;
  background-color: whitesmoke;
  margin: 30px;
  padding: 10px;
  border-radius: 3px;
}

.nav-item {
  padding: 0 25px;
}